<main class="module-main">
  <div class="module_filters">
    <mat-form-field class="w-full">
      <mat-label>Fecha desde</mat-label>
      <input matInput [matDatepicker]="date_since" />
      <mat-datepicker-toggle matIconSuffix [for]="date_since"></mat-datepicker-toggle>
      <mat-datepicker #date_since></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Fecha hasta</mat-label>
      <input matInput [matDatepicker]="date_to" />
      <mat-datepicker-toggle matIconSuffix [for]="date_to"></mat-datepicker-toggle>
      <mat-datepicker #date_to></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select>
        @for (client of clients; track client) {
          <mat-option [value]="client.id!">{{ client.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuenta bancaria</mat-label>
      <mat-select>
        @for (account of accounts; track account) {
          <mat-option [value]="account.id!">{{ account.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Producto</mat-label>
      <mat-select>
        @for (product of products; track product) {
          <mat-option [value]="product.id!">{{ product.description }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de venta</mat-label>
      <mat-select>
        @for (sale of saleTypes; track sale) {
          <mat-option [value]="sale.value">{{ sale.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="module_buttons">
    <button type="button" matButton="tonal">
      Limpiar
      <mat-icon>autorenew</mat-icon>
    </button>

    <button matButton="filled">
      Buscar
      <mat-icon>search</mat-icon>
    </button>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="sale_date">
        <th mat-header-cell *matHeaderCellDef>Fecha de venta</th>
        <td mat-cell *matCellDef="let element">{{ element.sale_date | date: 'dd/MM/yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="sale_type">
        <th mat-header-cell *matHeaderCellDef>Tipo de venta</th>
        <td mat-cell *matCellDef="let element">{{ getSaleTypeLabel(element.sale_type) }}</td>
      </ng-container>
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.client.name }}</td>
      </ng-container>
      <ng-container matColumnDef="account">
        <th mat-header-cell *matHeaderCellDef>Cuenta bancaria</th>
        <td mat-cell *matCellDef="let element">{{ element.account.name }}</td>
      </ng-container>
      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element">{{ element.total }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button>
            <mat-icon>remove_red_eye</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="SALES_COLUMN_HEADERS"></tr>
      <tr mat-row *matRowDef="let row; columns: SALES_COLUMN_HEADERS"></tr>
    </table>
    <mat-paginator
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>
</main>
