<main class="module-main">
  <div class="module_filters">
    <mat-form-field class="w-full">
      <mat-label>Fecha desde</mat-label>
      <input matInput [matDatepicker]="date_since" />
      <mat-datepicker-toggle matIconSuffix [for]="date_since"></mat-datepicker-toggle>
      <mat-datepicker #date_since></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Fecha hasta</mat-label>
      <input matInput [matDatepicker]="date_to" />
      <mat-datepicker-toggle matIconSuffix [for]="date_to"></mat-datepicker-toggle>
      <mat-datepicker #date_to></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cliente</mat-label>
      <mat-select>
        @for (client of clients; track client) {
          <mat-option [value]="client.id!">{{ client.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Cuenta bancaria</mat-label>
      <mat-select>
        @for (account of accounts; track account) {
          <mat-option [value]="account.id!">{{ account.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Producto</mat-label>
      <mat-select>
        @for (product of products; track product) {
          <mat-option [value]="product.id!">{{ product.description }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Tipo de venta</mat-label>
      <mat-select>
        @for (sale of saleTypes; track sale) {
          <mat-option [value]="sale.value">{{ sale.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="module_buttons">
    <button type="button" matButton="tonal">
      Limpiar
      <mat-icon>autorenew</mat-icon>
    </button>

    <button matButton="filled">
      Buscar
      <mat-icon>search</mat-icon>
    </button>
  </div>
</main>
