@import "tailwindcss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.module-header{
    @apply bg-white shadow h-20;
}

.module-main{
    @apply max-w-7xl mx-auto px-4 py-6;
}